*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:"Inter",sans-serif;
    background:#080808;
    color:#fff;
    overflow-x:hidden;
}

h1,
h2,
h3,
.logo,
.section-title{
    font-family:"Space Grotesk",sans-serif;
}

/* NAVBAR */

nav{
    position:fixed;
    top:16px;
    left:50%;
    transform:translateX(-50%);

    width:95%;
    max-width:1400px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:14px 28px;

    background:rgba(8,8,8,.55);

    backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,.08);

    border-radius:18px;

    z-index:1000;

    transition:.35s;
}




.nav-links a::after{

    content:"";

    position:absolute;

    left:0;
    bottom:-6px;

    width:0;

    height:2px;

    background:#ff5a1f;

    transition:.3s;

}

.nav-links a:hover::after{

    width:100%;

}

.logo{

    font-size:1.8rem;
    font-weight:700;
    letter-spacing:4px;

}


.nav-links{

display:flex;

align-items:center;

gap:35px;

}
.hamburger{

    display:none;

    font-size:2rem;

    cursor:pointer;

    color:#ff5a1f;

}

.nav-links a{

    position:relative;

    color:white;

    text-decoration:none;

    font-weight:500;

}

.nav-links a:hover{

    color:#ff5a1f;

}

/* HERO */

.hero{

    position:relative;

    height:100vh;

    overflow:hidden;

    display:flex;

    justify-content:center;

    align-items:center;

}

.hero-video{

    position:absolute;

    inset:0;

    width:100%;

    height:100%;

    object-fit:cover;

}

.hero-overlay{

    position:absolute;

    inset:0;

    background:rgba(0,0,0,.60);

}

.hero-content{

position:relative;

z-index:2;

max-width:900px;

text-align:center;

animation:heroReveal 1.3s ease;

}
.badge{

display:inline-flex;

align-items:center;

gap:10px;

padding:14px 26px;

background:rgba(255,255,255,.05);

border:1px solid rgba(255,255,255,.08);

border-radius:999px;

font-weight:600;

backdrop-filter:blur(10px);

margin-bottom:35px;

}

.hero h1{

    font-size:8rem;

    line-height:.85;

    letter-spacing:6px;

    text-transform:uppercase;

}





.hero h1 span{

    color:#ff5a1f;

}

.hero h2{

    margin-top:25px;

    font-size:2rem;

    font-weight:500;

    color:#ddd;

}

.hero p{

    margin:35px auto;

    max-width:700px;

    line-height:1.8;

    color:#bbb;

    font-size:1.1rem;

}

.buttons{

display:flex;

justify-content:center;

gap:25px;

margin-top:45px;

}
.buttons a:first-child{

    background:#ff5a1f;

}
.buttons a:first-child:hover{

    transform:translateY(-5px);

    box-shadow:0 15px 35px rgba(255,90,31,.35);

}
.buttons a{

    text-decoration:none;

    color:white;

    padding:16px 34px;

    border-radius:16px;

    transition:.35s;

    font-weight:600;

}


.buttons a:last-child{

    border:1px solid rgba(255,255,255,.15);

}
.buttons a:last-child:hover{

    background:white;

    color:black;

}


/* SECTIONS */

section{

    padding:120px 90px;

}

.section-title{

    text-align:center;

    font-size:3.2rem;

    margin-bottom:20px;

    letter-spacing:2px;

}

.section-subtitle{

    text-align:center;

    color:#999;

    margin-bottom:60px;

}

/* SHOWREEL */
.showreel-wrapper{

    position:relative;

    width:100%;

    max-width:1000px;

    margin:0 auto;

    aspect-ratio:16/9;

    border-radius:24px;

    overflow:hidden;

    cursor:pointer;

    box-shadow:0 20px 60px rgba(0,0,0,.4);

}
.showreel-wrapper img{

    width:100%;

    height:100%;

    object-fit:cover;

    object-position:center;

    transition:.5s;

}

.showreel-wrapper:hover img{

    transform:scale(1.05);

}
.showreel video{

    width:100%;

    max-height:600px;

    display:block;

    object-fit:cover;

    border-radius:20px;

    border:1px solid rgba(255,255,255,.08);

    box-shadow:0 20px 60px rgba(0,0,0,.35);

}


.showreel-overlay{

position:absolute;

inset:0;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

background:rgba(0,0,0,.35);

transition:.3s;

}

.showreel-wrapper:hover .showreel-overlay{

background:rgba(0,0,0,.5);

}

.play-button{

width:90px;

height:90px;

border-radius:50%;

background:#ff5a1f;

display:flex;

justify-content:center;

align-items:center;

font-size:2rem;

margin-bottom:25px;

transition:.35s;

}

.showreel-wrapper:hover .play-button{

transform:scale(1.15);

}

/* PORTFOLIO */

.portfolio{

    background:#0b0b0b;

}

/* SERVICES */

.services{

    background:#080808;

}

/* ABOUT */

.about{

    background:#0b0b0b;

}

/* CONTACT */

.contact{

    text-align:center;

}

@media (max-width: 900px){

    nav{
        width:95%;
        padding:15px 20px;
    }

    .logo{
        font-size:1.5rem;
    }

   .hamburger{

display:block;

}

.nav-links{

position:absolute;

top:85px;

left:50%;

transform:translateX(-50%);

width:90%;

display:none;

flex-direction:column;

background:rgba(12,12,12,.95);

backdrop-filter:blur(20px);

box-shadow:0 20px 50px rgba(0,0,0,.45);

border-radius:18px;

padding:20px;

gap:20px;

border:1px solid rgba(255,255,255,.08);

}
.nav-links a{

    color:#ff5a1f;

    padding:12px;

    border-radius:12px;

    text-align:center;

    font-size:1.1rem;

    font-weight:600;

    transition:.3s;

}

.nav-links a:hover{

    background:rgba(255,90,31,.12);

    color:#ff5a1f;

}
.nav-links{

opacity:0;

visibility:hidden;

transform:translateX(-50%) translateY(-15px);

transition:.3s;

}

.nav-links.active{

display:flex;

opacity:1;

visibility:visible;

transform:translateX(-50%) translateY(0);

}

    .hero{
        padding:0 20px;
        text-align:center;
    }

    .hero h1{
        font-size:3.5rem;
        line-height:.9;
    }

    .hero h2{
        font-size:1.4rem;
    }

    .hero p{
        font-size:1rem;
        line-height:1.6;
        margin:25px auto;
    }

    .buttons{
        flex-direction:column;
        align-items:center;
        width:100%;
        gap:15px;
    }

    .buttons a{
        width:100%;
        max-width:320px;
        text-align:center;
    }

    section{
        padding:80px 20px;
    }

    .section-title{
        font-size:2.2rem;
    }

    .section-subtitle{
        font-size:.95rem;
    }

    .portfolio-grid{
        grid-template-columns:1fr;
        gap:25px;
    }

    .portfolio-card img{
        height:420px;
    }

    .services-grid{
        grid-template-columns:1fr;
    }

    .contact-buttons{
        flex-direction:column;
        align-items:center;
    }

    .contact-buttons a{
        width:260px;
    }

}
.portfolio-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(350px,1fr));

gap:30px;

margin-top:60px;

}

.portfolio-card{

position:relative;

overflow:hidden;

border-radius:22px;

cursor:pointer;

transition:.4s;

}

.portfolio-card img{

width:100%;

height:500px;

object-fit:cover;

transition:.6s;

display:block;

}

.portfolio-card:hover{

transform:translateY(-12px);

box-shadow:0 30px 60px rgba(0,0,0,.4);

}

.portfolio-overlay{

position:absolute;

left:0;
right:0;
bottom:0;

padding:35px;

background:linear-gradient(transparent,rgba(0,0,0,.96));

transition:.4s;

}
.portfolio-overlay h3{

font-size:2rem;

margin-bottom:10px;

}

.portfolio-overlay p{

color:#ddd;

}

.services-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:30px;

margin-top:60px;

}

.service-card{

background:#111;

padding:35px;

border-radius:20px;

border:1px solid rgba(255,255,255,.08);

transition:.35s;

}

.service-card:hover{

transform:translateY(-8px);

border-color:#ff5a1f;

box-shadow:0 20px 40px rgba(255,90,31,.15);

}

.service-card h3{

margin-bottom:20px;

font-size:1.5rem;

}

.service-card p{

color:#aaa;

line-height:1.8;

}

.about-box{

max-width:900px;

margin:auto;

padding:40px;

background:#111;

border-radius:20px;

border:1px solid rgba(255,255,255,.08);

}

.about-box p{

color:#bbb;

line-height:2;

margin-bottom:20px;

}


.contact-buttons{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

margin-top:40px;

}

.contact-buttons a{

padding:16px 28px;

background:#ff5a1f;

color:white;

text-decoration:none;

border-radius:14px;

transition:.3s;

}

.contact-buttons a:hover{

transform:translateY(-4px);

}

.hero,
.showreel,
.portfolio,
.stats,
.services,
.about,
.contact{

animation:fadeUp 1s ease;

}

@keyframes fadeUp{

from{

opacity:0;

transform:translateY(60px);

}

to{

opacity:1;

transform:translateY(0);

}

}

.hero-video{
    position:absolute;
    inset:0;
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center center;
    z-index:0;

    animation:zoomHero 18s linear infinite alternate;
}

@keyframes zoomHero{

from{

transform:scale(1);

}

to{

transform:scale(1.03);

}

}

@keyframes heroReveal{

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:translateY(0);

}

}


.watch-film{

margin-top:25px;

display:inline-flex;

align-items:center;

gap:10px;

font-weight:600;

color:#ff5a1f;

transition:.35s;

}

.portfolio-card:hover .watch-film{

transform:translateX(8px);

}


.video-modal{

position:fixed;

inset:0;

background:rgba(0,0,0,.85);

backdrop-filter:blur(10px);

display:none;

justify-content:center;

align-items:center;

z-index:99999;

}

.video-container{

position:relative;

width:min(900px,80vw);

max-height:80vh;

animation:popup .3s ease;

}

.video-container video{

width:100%;

max-height:80vh;

display:block;

border-radius:18px;

box-shadow:0 30px 80px rgba(0,0,0,.5);

}

.close-video{

position:absolute;

top:-18px;

right:-18px;

width:42px;

height:42px;

display:flex;

justify-content:center;

align-items:center;

border-radius:50%;

background:#ff5a1f;

color:white;

font-size:1.2rem;

cursor:pointer;

font-weight:bold;

transition:.3s;

}

.close-video:hover{

transform:rotate(90deg) scale(1.1);

}


@keyframes popup{

from{

opacity:0;

transform:scale(.9);

}

to{

opacity:1;

transform:scale(1);

}

}

.hero-video {
    opacity: 0;
    transition: opacity .6s ease;
}

.hero-video.loaded {
    opacity: 1;
}